<head>
    <title>appwall</title>
</head>

<body>
    <h1>Welcome to Appwall!</h1> {{> header}} {{> form}} {{> posts}}
</body>

<template name="form">
    <button>Click me</button>
    <p>You've pressed the button {{counter}} times.</p>
</template>